#banner
	.banner_content
		%h1 SnookBook
		%p Your Online Notebook. Never lose your marbles.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.Quote "The Greatest. Notebook Application. Ever."
		%p.name - Luke Drohan

#callouts		
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p DIY Neutra church-key, ennui chia beard cred. Vinyl hella taxidermy, sriracha vegan ugh chambray fashion axe dreamcatcher mixtape.
			.callout
				%h2 Boom
				%p Blog gluten-free drinking vinegar deep v banjo, organic asymmetrical slow-carb literally 3 wolf moon you probably haven't heard of them four loko twee McSweeney's kitsch.
			.callout
				%h2 Shockalacka
				%p VHS tattooed banh mi mlkshk gentrify Schlitz pug, Marfa health goth scenester. Occupy kitsch small batch blog crucifix +1 post-ironic fashion axe, Intelligentsia yr chia messenger bag 8-bit.	 

#bottom_cta
	.wrapper
		%h2 Use This App!
		%p Really though? Please. Pweetttty Pweease?
		%button= link_to "Click This. Now.", new_user_registration_path

%footer
	%p &copy; Luke Drohan		